{% load static %}
<link rel="stylesheet" href="{% static 'css/First_Of_All.css' %}">
{% block content %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&display=swap" rel="stylesheet">    
    
</head>
<body>
    <div class="all">
        <div class="text">
            <h1>Select Your Project</h1>
        </div>
        <div class="buttons">
            <button class="btn">Human Resource Website</button>
            <button class="btn" onclick="location.href='home'">Student Affairs Website</button>
            <button class="btn"> Higher Studies Website</button>
            <button class="btn">Laboratory Tracking Website</button>
        </div>
    </div>
</body>
</html>
{% endblock content %}